.background{
    height: 768px;
    width: 1366px;
    background-image: url("../image/background .png");
    margin: auto;
}
.container_title{
    width: 1030px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 25px;
}
.title__header__big{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;

    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 3px;
    margin-left: 10px;
}
.title__header__small{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;

    color: #FFFFFF;
    margin-left: 10px;
    margin-top: 0;


}
.title__header__img{
    height: 47px;
    width: 53px;
}

.header__title{
    display: flex;
}
.info__title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    justify-content: end;

    color: #FFFFFF;
    text-decoration: none;
}
.container_img_content{
    width: 1030px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    padding-top: 20px;
    gap: 37px 54px ;
    text-align: center;
}
.content__text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;

}
.content__link{
    text-decoration: none;
}
.footer__text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;

    color: #FFFFFF;
    text-align: center;
    margin-top: 29px;
}
.content__text:hover{
    color: #F26522;

}
.info__title:hover{
    color: #F26522;

}
.title__header__img{
    background-image: url("../image/home.png");
}
.header__title:hover .title__header__img{
    background-image: url("../image/home.orange.png");
}
.header__title:hover .title__header__big{
    color: #F26522;
}
.header__title:hover .title__header__small{
    color: #F26522;
}
.title__link{
    text-decoration: none;
}
.content__img{
    position: relative;
    width: 300px;
    height: 220px;
    border: solid 2px;
    border-image: linear-gradient( white, black) 30;
}
.content__animation{
    display: none;
    margin-left: 4px;
    height: 55px;
    width: 300px;
    background-color: #F26522;
    top: 272px;
    position: absolute;
}
.content__animation__down{
    display: none;
    margin-left: 4px;
    height: 55px;
    width: 300px;
    background-color: #F26522;
    top: 590px;
    position: absolute;
}
.content__img:hover+ .content__animation {
    display: block;
}
.content__img:hover+ .content__animation__down {
    display: block;
}
.content__info__sell{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}
.grid__info{
    display: flex;
    margin-left: 20px;
    margin-top: 7px;
    color: #FFFFFF;
}

.grid__info__symbol:after{
    content: ">";
    margin: auto;
}
.grid__info__symbol{
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    color: #FFFFFF;
}
.grid__text__from{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;

    color: #FFFFFF;
}
.grid__text__price{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;

    color: #FFFFFF;
}
.grid__text__symbol{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    color: #FFFFFF;

}